/* /Shared/404page.razor.rz.scp.css */
@charset "UTF-8";

/***********************************
      /* 1. BODY */
/***********************************/

*[b-vcuqnmw3f2] {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

html[b-vcuqnmw3f2], body[b-vcuqnmw3f2] {
    height: 100%;
    overflow: hidden;
}

body[b-vcuqnmw3f2] {
    padding: 0;
    margin: 0;
    background: #181828;
    font-size: 14px;
    line-height: 1;
}
.bg[b-vcuqnmw3f2] {
    background-color:#181828;
    transform:translateY(-200);
}

label[b-vcuqnmw3f2] {
    cursor: pointer;
}

a[b-vcuqnmw3f2] {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #000;
}

input[b-vcuqnmw3f2], select[b-vcuqnmw3f2], button[b-vcuqnmw3f2], textarea[b-vcuqnmw3f2] {
    margin: 0;
    font-size: 100%;
}

html[b-vcuqnmw3f2], div[b-vcuqnmw3f2], span[b-vcuqnmw3f2], applet[b-vcuqnmw3f2], object[b-vcuqnmw3f2], iframe[b-vcuqnmw3f2], h1[b-vcuqnmw3f2], h2[b-vcuqnmw3f2], h3[b-vcuqnmw3f2], h4[b-vcuqnmw3f2], h5[b-vcuqnmw3f2], h6[b-vcuqnmw3f2], p[b-vcuqnmw3f2], blockquote[b-vcuqnmw3f2], pre[b-vcuqnmw3f2],
a[b-vcuqnmw3f2], abbr[b-vcuqnmw3f2], acronym[b-vcuqnmw3f2], address[b-vcuqnmw3f2], big[b-vcuqnmw3f2], cite[b-vcuqnmw3f2], code[b-vcuqnmw3f2], del[b-vcuqnmw3f2], dfn[b-vcuqnmw3f2], em[b-vcuqnmw3f2], font[b-vcuqnmw3f2], img[b-vcuqnmw3f2], ins[b-vcuqnmw3f2], kbd[b-vcuqnmw3f2], q[b-vcuqnmw3f2], s[b-vcuqnmw3f2], samp[b-vcuqnmw3f2],
small[b-vcuqnmw3f2], strike[b-vcuqnmw3f2], strong[b-vcuqnmw3f2], sub[b-vcuqnmw3f2], sup[b-vcuqnmw3f2], tt[b-vcuqnmw3f2], var[b-vcuqnmw3f2], b[b-vcuqnmw3f2], u[b-vcuqnmw3f2], i[b-vcuqnmw3f2], center[b-vcuqnmw3f2], dl[b-vcuqnmw3f2], dt[b-vcuqnmw3f2], dd[b-vcuqnmw3f2], ol[b-vcuqnmw3f2], ul[b-vcuqnmw3f2], li[b-vcuqnmw3f2],
fieldset[b-vcuqnmw3f2], form[b-vcuqnmw3f2], label[b-vcuqnmw3f2], legend[b-vcuqnmw3f2], table[b-vcuqnmw3f2], caption[b-vcuqnmw3f2], tbody[b-vcuqnmw3f2], tfoot[b-vcuqnmw3f2], thead[b-vcuqnmw3f2], tr[b-vcuqnmw3f2], th[b-vcuqnmw3f2], td[b-vcuqnmw3f2], input[b-vcuqnmw3f2] {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


.top-header[b-vcuqnmw3f2]:before {
    background-image: url(https://1.bp.blogspot.com/-gxsOcYWghHA/Xp_izTh4sFI/AAAAAAAAU8s/y637Fwg99qAuzW9na_NT_uApny8Vce95gCEwYBhgL/s1600/header-footer-gradient-bg.png);
}

.top-header[b-vcuqnmw3f2]:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}


.starsec[b-vcuqnmw3f2] {
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    animation: animStar-b-vcuqnmw3f2 150s linear infinite;
}

.starthird[b-vcuqnmw3f2] {
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    animation: animStar-b-vcuqnmw3f2 10s linear infinite;
}

.starfourth[b-vcuqnmw3f2] {
    content: " ";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    animation: animStar-b-vcuqnmw3f2 50s linear infinite;
}

.starfifth[b-vcuqnmw3f2] {
    content: " ";
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
    animation: animStar-b-vcuqnmw3f2 80s linear infinite;
}

@keyframes animStar-b-vcuqnmw3f2 {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-2000px);
    }
}



button[b-vcuqnmw3f2] {
    border: none;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background: none;
    cursor: pointer;
}

:focus[b-vcuqnmw3f2] {
    outline: 0;
}

.clearfix[b-vcuqnmw3f2]:before, .clearfix[b-vcuqnmw3f2]:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix[b-vcuqnmw3f2]:after {
    clear: both;
}

.clearfix[b-vcuqnmw3f2] {
    zoom: 1;
}

/* 1. END BODY */
/***********************************/

/***********************************
      /* 2. CONTENT */
/***********************************/
/* 2.1. Section error */
.error[b-vcuqnmw3f2] {
    min-height: 100vh;
    position: relative;
    padding: 240px 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 70px;
}

.error__overlay[b-vcuqnmw3f2] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.error__content[b-vcuqnmw3f2] {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.error__message[b-vcuqnmw3f2] {
    text-align: center;
    color: #181828;
}

.message__title[b-vcuqnmw3f2] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 5.6rem;
    padding-bottom: 40px;
    max-width: 960px;
    margin: 0 auto;
}

.message__text[b-vcuqnmw3f2] {
    font-family: 'Montserrat', sans-serif;
    line-height: 42px;
    font-size: 18px;
    padding: 0 60px;
    max-width: 680px;
    margin: auto;
}

.error__nav[b-vcuqnmw3f2] {
    max-width: 600px;
    margin: 40px auto 0;
    text-align: center;
}

.e-nav__form[b-vcuqnmw3f2] {
    position: relative;
    height: 45px;
    overflow: hidden;
    width: 170px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #212121;
    padding-left: 10px;
    padding-right: 46px;
}

.e-nav__icon[b-vcuqnmw3f2] {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #212121;
    -webkit-transition: color .25s ease;
    transition: color .25s ease;
}

.e-nav__link[b-vcuqnmw3f2] {
    height: 45px;
    line-height: 45px;
    width: 170px;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    border: 1px solid #181828;
    color: #181828;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1rem;
    position: relative;
    overflow: hidden;
}

    .e-nav__link[b-vcuqnmw3f2]:before {
        content: '';
        height: 200px;
        background: #212121;
        position: absolute;
        top: 70px;
        right: 70px;
        width: 260px;
        -webkit-transition: all .3s;
        transition: all .3s;
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }

    .e-nav__link[b-vcuqnmw3f2]:after {
        -webkit-transition: all .3s;
        transition: all .3s;
        z-index: 999;
        position: relative;
    }

    .e-nav__link[b-vcuqnmw3f2]:after {
        content: "Home Page";
    }

    .e-nav__link:hover[b-vcuqnmw3f2]:before {
        top: -60px;
        right: -50px;
    }

    .e-nav__link:hover[b-vcuqnmw3f2] {
        color: #fff;
    }

    .e-nav__link:nth-child(2):hover[b-vcuqnmw3f2]:after {
        color: #fff;
    }
/* 2.1. END Section Error */

/* 2.2. Social style */
.error__social[b-vcuqnmw3f2] {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    z-index: 10;
}

.e-social__list[b-vcuqnmw3f2] {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.e-social__icon[b-vcuqnmw3f2] {
    padding-bottom: 30px;
}

    .e-social__icon:last-child[b-vcuqnmw3f2] {
        padding-bottom: 0;
    }

.e-social__link[b-vcuqnmw3f2] {
    color: #fff;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    display: block;
}

    .e-social__link:hover[b-vcuqnmw3f2] {
        opacity: .7;
    }
/* 2.2. END Social style */

/* 2.3. Lamp */
.lamp[b-vcuqnmw3f2] {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center top;
    animation-timing-function: cubic-bezier(0.6, 0, 0.38, 1);
    animation: move-b-vcuqnmw3f2 5.1s infinite;
}

@keyframes move-b-vcuqnmw3f2 {
    0% {
        transform: rotate(40deg);
    }

    50% {
        transform: rotate(-40deg);
    }

    100% {
        transform: rotate(40deg);
    }
}

.cable[b-vcuqnmw3f2] {
    width: 8px;
    height: 248px;
    background-image: linear-gradient(rgb(32 148 218 / 70%), rgb(193 65 25)), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}

.cover[b-vcuqnmw3f2] {
    width: 200px;
    height: 80px;
    background: #0bd5e8;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    z-index: 200;
}

.in-cover[b-vcuqnmw3f2] {
    width: 100%;
    max-width: 200px;
    height: 20px;
    border-radius: 100%;
    background: #08ffff;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    bottom: -9px;
    z-index: 100;
}

    .in-cover .bulb[b-vcuqnmw3f2] {
        width: 50px;
        height: 50px;
        background-color: #08fffa;
        border-radius: 50%;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -20px;
        margin: 0px auto;
        -webkit-box-shadow: 0 0 15px 7px rgba(0,255,255,0.8), 0 0 40px 25px rgba(0,255,255,0.5), -75px 0 30px 15px rgba(0,255,255,0.2);
        box-shadow: 0 0 25px 7px rgb(127 255 255 / 80%), 0 0 64px 47px rgba(0,255,255,0.5), 0px 0 30px 15px rgba(0,255,255,0.2);
    }


.light[b-vcuqnmw3f2] {
    width: 200px;
    height: 0px;
    border-bottom: 900px solid rgb(44 255 255 / 24%);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 270px;
    margin: 0px auto;
    z-index: 1;
    border-radius: 90px 90px 0px 0px;
}
/* 2.3. END Lamp */
/***********************************
      /* 2. END CONTENT */
/***********************************/

/***********************************
      /* 3. RESPONSIVE */
/***********************************/
.error[b-vcuqnmw3f2] {
    overflow: hidden;
    max-height: 100vh;
}

@media (max-width: 1400px) {
    .lamp[b-vcuqnmw3f2] {
        zoom: .5;
    }

    .error__content[b-vcuqnmw3f2] {
        top: 55%;
    }

    .message__title[b-vcuqnmw3f2] {
        font-size: 3.5rem;
    }
}

@media (max-width: 900px) {

    .message__title[b-vcuqnmw3f2] {
        font-size: 34px;
    }

    .error__content[b-vcuqnmw3f2] {
        top: 55%;
    }
}

@media (max-width: 950px) {
    .lamp__wrap[b-vcuqnmw3f2] {
        max-height: 100vh;
        overflow: hidden;
        max-width: 100vw;
    }

    .error__social[b-vcuqnmw3f2] {
        bottom: 30px;
        top: auto;
        transform: none;
        width: 100%;
        position: fixed;
        left: 0;
    }

    .e-social__icon[b-vcuqnmw3f2] {
        display: inline-block;
        padding-right: 30px;
    }

        .e-social__icon:last-child[b-vcuqnmw3f2] {
            padding-right: 0;
        }

    .e-social__icon[b-vcuqnmw3f2] {
        padding-bottom: 0;
    }
}

@media (max-width: 750px) {
    body[b-vcuqnmw3f2], html[b-vcuqnmw3f2], {
        max-height: 100vh;
    }

    .error__content[b-vcuqnmw3f2] {
        position: static;
        margin: 0 auto;
        transform: none;
        padding-top: 300px;
    }

    .error[b-vcuqnmw3f2] {
        padding-top: 0;
        padding-bottom: 100px;
        height: 100vh;
    }
}

@media (max-width: 650px) {
    .message__title[b-vcuqnmw3f2] {
        font-size: 36px;
        padding-bottom: 20px;
    }

    .message__text[b-vcuqnmw3f2] {
        font-size: 16px;
        line-height: 2;
        padding-right: 20px;
        padding-left: 20px;
    }

    .lamp[b-vcuqnmw3f2] {
        zoom: .6;
    }

    .error__content[b-vcuqnmw3f2] {
        padding-top: 180px;
    }
}

@media (max-width: 480px) {

    .message__title[b-vcuqnmw3f2] {
        font-size: 30px;
    }

    .message__text[b-vcuqnmw3f2] {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    .error__nav[b-vcuqnmw3f2] {
        margin-top: 20px;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-lm8yj1iyw2] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-lm8yj1iyw2] {
    flex: 1;
}

.sidebar[b-lm8yj1iyw2] {
    background-image: linear-gradient(180deg,#0F2CD4, #1C72EB);
}

.top-row[b-lm8yj1iyw2] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-lm8yj1iyw2]  a, .top-row[b-lm8yj1iyw2]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-lm8yj1iyw2]  a:hover, .top-row[b-lm8yj1iyw2]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-lm8yj1iyw2]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-lm8yj1iyw2] {
        display: none;
    }

    .top-row.auth[b-lm8yj1iyw2] {
        justify-content: space-between;
    }

    .top-row[b-lm8yj1iyw2]  a, .top-row[b-lm8yj1iyw2]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-lm8yj1iyw2] {
        flex-direction: row;
    }

    .sidebar[b-lm8yj1iyw2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lm8yj1iyw2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-lm8yj1iyw2]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-lm8yj1iyw2], article[b-lm8yj1iyw2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
    
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-le0us1btlw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-le0us1btlw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-le0us1btlw] {
    font-size: 1.1rem;
}

.oi[b-le0us1btlw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-le0us1btlw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-le0us1btlw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-le0us1btlw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-le0us1btlw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-le0us1btlw]  a.active {
    background-color: rgba(200,255,255,0.25);
    color: white;
}

.nav-item[b-le0us1btlw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-le0us1btlw] {
        display: none;
    }

    .collapse[b-le0us1btlw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
